*{
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
}
header {
    width: 100%;
    background-color: rgba(214, 252, 231, 0.514);
    justify-content: space-between;
    top:0%;
    text-transform: capitalize;
    /* position: sticky; */
    z-index: 3;
}

header.sticky {
    background-color: #e4f5fae1;
    /* background-color: rgba(214, 252, 231, 0.747); */
    border-bottom: 3px solid rgb(53, 87, 146);
    position: sticky;
}
.font1 {
    font-family: none;
    padding: 0 0.5rem;
    color:rgb(53, 87, 146);
    text-shadow: 5px 5px 5px lightblue;
    margin: 0;
}

.flex {
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    padding: 0.5rem;
}

ul.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.flex {
    display: flex;
    align-items: center;
}


ul.menu > li > a {
    display: block;
    font-size: 1.1em;
    font-weight: 700;
    padding: 1.5rem;
    text-decoration: none;
    position: relative;
    color: rgb(41, 90, 131);
}

ul.menu > li > a:hover {
    background-color: rgba(193, 255, 224, 0.575);
    color: rgb(65, 113, 210);
}

.between {
    justify-content: space-between;
}

.submenu {
    display: none;
    position: absolute;
    background-color: rgb(162, 197, 191);
}

.submenu::after {
    content: "";
    border-width: 10px;
    border-style:  solid;
    border-color: transparent transparent rgb(162, 197, 191) transparent;
    position: absolute;
    bottom: 100%;
    left: 20%;
}

.sub:hover .submenu {
    display: block;
    z-index: 999;
}

.font2 {
    font-family: Arial;
}

.button {
    display: block;
    padding: 0;
    margin-right: 10px;
    position: relative;
    width: 25%;
    text-align: end;
}
.button a {
    text-decoration: none;
    color: black;
}
.button .btn{
    width: 45%;
    height: 40px;
    font-weight: 600;
    background: rgba(255, 255, 255, 0.7);
    text-transform: none;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s ease;
}

.btn:hover{
    background: rgb(167, 204, 228);
    transform: scale(95%);
    transition-duration: .2s;
    transition-property: transform;
    transition-timing-function: linear;
    border: 2px solid lightsteelblue;
}
/* #registerBtn{
    margin-left: 15px;
} */
.btn.white-btn{
    background: rgba(255, 255, 255, 0.4);
    transform: none;
    border: none;
}
/* #registerBtn{
    margin-left: 15px;
} */

.nav-menu-btn{
    display: none;
}
.direction {
    text-align: center;
    
} 
.direction button {
    font-weight: bold; background-color: #ffffff44;
    border:none;
    width:50px;
    height:50px;
    border-radius: 50%; 
    transition: 0.5s;
    margin:0 10px;
    background-color: aquamarine;
}

.direction button:hover { 
    background-color: #ffffff; 
}

@media only screen and (max-width: 768px) {
     .button{
        display: none;
    }
    .nav-menu.responsive {
        top: 70px;
        
    }
    .nav-menu {
        position: absolute;
        top: -800px;
        display: flex;
        justify-content: center;
        background: rgba(255, 255, 255, 0.2);
        width: 100%;
        height: fit-content;
        backdrop-filter: blur(20px);
        transition: .3s;
        z-index: 5;
    }
    .nav-menu ul{
        flex-direction: column;
        text-align: center;
    }
    .nav-menu-btn{
        display: block;
    }
    .nav-menu-btn i{
        font-size: 25px;
        color: rgb(148, 201, 236);
        padding: 10px;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 50%;
        cursor: pointer;
        transition: .3s;
    }
    .nav-menu-btn i:hover{
        background: rgba(255, 255, 255, 0.15);
    }
    ul.menu {
        width: 100%;
    }
    ul.menu>li{
        width: 100%;
    }
    .submenu {
        position: initial;
        background-color: rgb(165, 209, 203);
    }
    
    .submenu::after {
        display: none;
    }
}

