body {
    width: 100%;
    margin: 0;
}

*{
    font-family: Arial, Helvetica, sans-serif;
    padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    transition: .2s linear;
}
.contact {
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(rgba(135, 134, 134, 0.432),rgba(140, 140, 140, 0.466)), url(../images/main/bg2.jpg);
    background-size: cover;
}
.contact .content {
    max-width: 800px;
    text-align: center;
}
.contact .content h1 {
    padding-bottom: 50px;
    letter-spacing: 2px;
    font-size: 36px;
    font-weight: 700;
    color: white;
}
.contact .content p {
    font-weight: 300;
    color: white;
}
.container-lienhe {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container-lienhe .contactInfo {
    width: 25%;
    padding-right: 20%;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
}
.container-lienhe .contactInfo .box-lienhe {
    position: relative;
    padding: 20px 0;
    display: flex;
}
.container-lienhe .contactInfo .box-lienhe .icon {
    background-color: #ffffff;
    min-width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:50%;
    font-size: 22px;
}
.container-lienhe .contactInfo .box-lienhe .text {
    white-space: nowrap;
    width: 25%;
    display: flex;
    margin-left: 30px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    flex-direction: column;
    font-weight: 300;
} 
.container-lienhe .contactInfo .box-lienhe .text h3 {
    /* padding-bottom: 20px; */
    font-weight: 700;
    color: rgb(0, 123, 206);
    margin: 0;
}
.contactForm {
    width: 65%;
    padding: 40px;
    margin-left: 100px;
    background: rgba(71, 71, 74, 0.654)
}
.contactForm h2 {
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: 700;
}
.contactForm .inputBox {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputBox input,  .contactForm .inputBox textarea {
    background-color: rgba(71, 71, 74, 0.654);
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    margin: 20px 0;
    border: none;
    border-bottom: 2px solid rgb(255, 255, 255);
    outline: none;
    resize: none;
}
.contactForm .inputBox span {
    position: absolute;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    margin: 20px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #ffffff;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span {
    color:rgb(81, 142, 255);
    font-size: 12px;
    transform: translateY(-25px) ;
}
.contactForm .inputBox input[type="submit"] {
    width: 100px;
    background: rgb(38, 69, 123);
    color:white;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px; 
}
