* {
    font-family: Arial, Helvetica, sans-serif;
    /* margin: 0; */
}
body {
    width: 100%;
    margin: 0;
}
<<<<<<< Updated upstream

.flex {
    display: flex;
    align-items: center;
}


ul.menu > li > a {
    display: block;
    font-size: 1.1em;
    font-weight: 700;
    padding: 1.5rem;
    text-decoration: none;
    position: relative;
    color: rgb(41, 90, 131);
}

ul.menu > li > a:hover {
    background-color: rgba(193, 255, 224, 0.575);
    color: rgb(65, 113, 210);
}

.between {
    justify-content: space-between;
}

.submenu {
    display: none;
    position: absolute;
    background-color: rgb(54, 178, 159);
}

.submenu::after {
    content: "";
    border-width: 10px;
    border-style:  solid;
    border-color: transparent transparent rgb(54, 178, 159) transparent;
    position: absolute;
    bottom: 100%;
    left: 1.5rem;
}

.sub:hover .submenu {
    display: block;
    z-index: 999;
}

.font2 {
    font-family: Arial;
}

.button1 {
    list-style-type: none;
    width: 150px;
    height: 40px;
    font-weight: 700;
    color:rgb(40, 56, 96);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    background: rgba(208, 233, 234, 0.596)
}

.button {
    display: block; 
    padding: 1.5rem;
    position: relative;
}

/*main::before{
    content: "";
    width: 100%;
    height: 100%;
    background: #001D38;
    position: absolute;
}*/

main {
    width: 100%;
    height: 500px;
    background-image: url(../images/logo.png);
    background-color: rgb(222, 234, 240);
    background-size: auto 90%;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.5;
}

.wrapper {
=======
main {
    background-image: linear-gradient(0,rgba(234, 255, 254, 0.7),rgba(234, 255, 254, 0.7)),url(../images/bg.png); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    width: 100%;
>>>>>>> Stashed changes
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 110vh;
<<<<<<< Updated upstream
}
=======
}
 
.form-box-user{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 512px;
    height: 450px;
    overflow: hidden;
    z-index: 2;
}
.login-container{
    position: absolute;
    left: 4px;
    width: 500px;
    display: flex;
    flex-direction: column;
    transition: .5s ease-in-out;
}
.register-container{
    position: absolute;
    right: -520px;
    width: 500px;
    display: flex;
    flex-direction: column;
    transition: .5s ease-in-out;
}

.top {
    color: rgb(122, 157, 84);
}

.top>span>a {
    font-size: larger;
    color: rgb(100, 204, 197);
}

.top>h1{
    text-align: center;
}

.two-forms{
    display: flex;
    justify-content: space-between;
    width: 100%;

}

.input-field {
    font-size: 15px;
    background: rgba(208, 245, 190,0.6);
    color: black;
    height: 50px;
    width: 100%;
    padding: 0 0 0 30px;
    border: none;
    border-radius: 30px;
    outline: none;
    transition: .2s ease;
}


.input-field:hover, .input-field:focus{
    background: rgb(195, 237, 192);
}

::-webkit-input-placeholder{
    color: #A4907C;
}
.input-box > i {
    position: relative;
    top: -33px;
    color:rgb(170, 200, 167);
}

.input-box i.email,.input-box i.lock {
    left: 10px;
}

.input-box i.hidden {
    left: 90%;
    cursor: pointer;
}

/* .field.error input {
    color: red;
} */

.field .error {
    color: red;
    text-align: left;
    margin-top: -10px;
    display: none;
}

.field.error .error{
    display: block;
}

.field {
    width: 100%;
    margin-bottom: 15px;
    /* animation: shake 0.3s ease-in-out; */
}

.shake {
    animation: shake 0.3s ease-in-out;
}

@keyframes shake {
    0%, 100%{
        margin-left: 0;
    }
    20%, 80%{
        margin-left:  -12px;
    }
    40%, 60%{
        margin-left: 12px;
    }
}
.submit {
    font-size: 15px;
    font-weight: 500;
    color: rgb(131, 118, 79);
    height: 45px;
    width: 100%;
    border: none;
    border-radius: 30px;
    outline: none;
    background: rgb(170, 200, 167);
    cursor: pointer;
    transition: .3 ease-in-out;
    text-align: center;
}

.submit:hover {
    background: rgb(229, 249, 219);
    box-shadow: 1px 5px 7px 1px rgba(0,0,0,0.2);
    color: rgb(162, 163, 120);
}

.two-col {
    display: flex;
    justify-content: space-between;
    color: gray;
    font-size: small;
    margin-top: 10px;
}

.two-col .one {
    display: flex;
    gap: 5x;
}

.two label a {
    text-decoration: none;
}

.two label a:hover {
    text-decoration: underline;
}
>>>>>>> Stashed changes

