.cards-container {
    flex-direction: column;
}

.card {
    width: 100%;
    min-height: fit-content;
}

.card-header img {
    height: 366px;
}

.image {
    float: left;
    height: 250px;
}

.text-top {
    top: 30%
}